<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.ggls.covid19">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--permission for WiFI post processing,not for scankit itself-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--Camera permission-->
    <!--File read permission-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--Camera permission-->
    <!--File read permission-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--Camera permission-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--File read permission-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/Theme.Covid19">
        <activity android:name="com.huawei.hms.hmsscankit.ScanKitActivity" />
        <activity android:name=".GuideActivity" android:label="防疫指南" android:exported="false" />
        <activity android:name=".EPMapActivity" android:label="疫情地图" android:exported="false" />
        <activity android:name=".QRCodeActivity" android:label="查看二维码" android:exported="false" />
        <activity android:name=".DisplayMessageActivity" android:parentActivityName=".MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity" />
        </activity>
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="com.huawei.hms.client.channel.androidMarket" android:value="false" />
    </application>
    <queries>
        <intent>
            <action android:name="com.huawei.hms.core.aidlservice" />
        </intent>
    </queries>
</manifest>

